.navbar-nav {
    font-size: 1.2rem;
    font-weight: 500;
}

.border-none {
    border: none;
}

.become-member a {
    text-decoration: none;
}

.intro-about,.intro-about * {
    background-color: #f8f9fa!important;
}

.pricing-columns ul * {
    border: none;
}
